# Backend ignores
backend/node_modules/
backend/.env
backend/*.sqlite
backend/database.sqlite
backend/*.zip
backend/service_account.json

# Flutter ignores
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/android/app/debug/
frontend/android/app/profile/
frontend/android/app/release/
frontend/*.iml
frontend/*.ipr
frontend/*.iws
frontend/.idea/

# Root ignores
*.zip
*.rar
*.log
.DS_Store
aylanpro_backend_update/
test_unzip/
*.png
google-services*.json
GoogleService-Info*.plist

